*
!.gitignore
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!LICENSE.md
!README.md
!.github/**/*
!Assets/*
!CMSModules/Kentico.Xperience.Dynamics365.Sales/**/*
!CMSSiteUtils/Export/Kentico.Xperience.Dynamics365.Sales*.zip